*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #bd98e1;
}
.cabecalho{
    background-color: #a780cf;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
}
 
.cartao{
    width: 260px;
    height: 200px;
}
.cartao img{
    width: 150%;
}